.uploadpage {
display: flex;
  background-image: url("../../assets/background.webp");
  background-position: center;
  height: 80vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
